.choresText {
   color: rgb(218, 36, 36);
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 30px;
   font-style: italic;
   text-align: left;
   
}

.choresHeading {
   color: black;
   text-align: left;
   text-decoration: underline;
}